#titre {
    padding: 40px 40px 40px 0px;
    font-size: 40px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pages li .fa{
    font-size: 40px;
    margin-right: 20px;
    color: rgb(146, 138, 138);
    width: 45px;
}

#pages li{
    vertical-align: top;
}

.txt {
    vertical-align: top;
}
